@use '../../styles/variables.scss' as variables;

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__title,
	&__profession {
		display: flex;
		gap: 0.3em;
	}

	&__download-container {
		position: relative;
		margin-top: variables.$spacing_6;
	}

	&__download-btn {
		position: relative;
		overflow: hidden;
		padding: variables.$spacing_3 variables.$spacing_5;
		border-radius: 50px;
		font-size: variables.$font_size_-1;

		&:focus-visible {
			border-radius: 50px;
		}
	}
}

@media (width <= variables.$viewport_medium) {
	.home {
		align-items: start;

		&__title,
		&__profession {
			flex-wrap: wrap;
		}

		&__title {
			font-size: variables.$font_size_4;
		}

		&__profession {
			font-size: variables.$font_size_3;
		}
	}
}

@media (width <= variables.$viewport_small) {
	.home {
		&__title {
			font-size: variables.$font_size_3;
		}

		&__profession {
			font-size: variables.$font_size_2;
		}

		&__download-container {
			margin-top: variables.$spacing_5;
		}
	}
}
