@use '../../styles/variables.scss' as variables;

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__profession {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: variables.$spacing_4;

		&--start {
			justify-self: end;
		}
	}
}

@media (width <= variables.$viewport_medium) {
	.home {
		align-items: start;

		&__profession {
			grid-template-columns: 1fr;
		}

		&__profession--start {
			justify-self: start;
		}
	}
}
