@use '../../styles/variables.scss' as variables;
@use '../../styles/mixins.scss' as mixins;

.button {
	display: grid;
	place-items: center;
	border: 0;
	color: variables.$color_text_1;
	cursor: pointer;
	@include mixins.glassy;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&--round {
		aspect-ratio: 1;
		width: auto;
		height: 100%;
		border-radius: 50%;
	}

	&--no-bg {
		background: none;
	}
}
