@use 'variables' as variables;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div {
	color: variables.$color_text_1;
}

h1 {
	font-size: variables.$font_size_5;
	font-family: variables.$font_family_bold;
}

h2 {
	font-size: variables.$font_size_4;
	font-family: variables.$font_family_semibold;
}

h3 {
	font-size: variables.$font_size_3;
	font-family: variables.$font_family;
}

body,
html,
p,
a,
div {
	font-size: variables.$font_size_0;
	font-family: variables.$font_family;
}
