@use 'variables' as variables;

:root {
	--color-bg1: #{variables.$color_background_1};
	--color-bg2: var(--color-bg1);
	--color1: 10, 10, 10; /* Nearly black */
	--color2: 25, 25, 25; /* Very dark grey */
	--color3: 50, 50, 50; /* Dark grey */
	--color4: 80, 80, 80; /* Medium grey */
	--color5: 110, 110, 110; /* Light grey */
	--color-interactive: 140, 140, 140; /* Lighter grey */

	--layout-margin: #{variables.$spacing_4};
	--layout-radius: #{variables.$spacing_2};

	--circle-size: 80%;
	--blending: hard-light;
}

::selection {
	background-color: variables.$color_background_2;
	color: variables.$color_background_1;
}

::-webkit-scrollbar {
	/* Hide scrollbars in WebKit browsers */
	display: none;
}

* {
	scrollbar-width: none;
}

*:focus-visible {
	outline: 2px dashed white;
	outline-offset: 2px;
	border-radius: 4px;
}

:is(a, span, p, strong, input):focus-visible,
textarea:focus-visible {
	background-color: variables.$color_background_2;
	color: variables.$color_background_1;
	padding: 2px;
	outline: none;
}

html,
body {
	background-color: variables.$color_background_1;
	overflow: hidden;
}

@media (pointer: fine) {
	html,
	body,
	*,
	*::before,
	*::after {
		cursor: none !important;
	}
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: variables.$transition;
}

@keyframes layout-animation {
	0% {
		width: 100%;
		margin: 0;
		border-radius: 0;
	}

	100% {
		width: min(90%, variables.$max_width);
		margin: variables.$spacing_4;
		border-radius: variables.$spacing_2;
	}
}

@keyframes layout-animation-reverse {
	0% {
		width: min(90%, variables.$max_width);
		margin: variables.$spacing_4;
		border-radius: variables.$spacing_2;
	}

	100% {
		width: 100%;
		margin: 0;
		border-radius: 0;
	}
}

.layout {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	width: 100%;
	margin: 0;
	border-radius: 0;
	overflow: hidden;
	padding: variables.$spacing_4 variables.$spacing_8;
	background-color: variables.$color_background_1--blur;
	transition: variables.$transition;
	animation: layout-animation 1s ease forwards;
}

@media (width <= variables.$viewport_small) {
	.layout {
		width: min(90%, variables.$max_width);
		margin: variables.$spacing_4;
		border-radius: variables.$spacing_2;
		animation: layout-animation-reverse 1s ease forwards;
	}
}
