@import 'variables.scss';

:root {
	--color-bg1: #{$color_background_1};
	--color-bg2: var(--color-bg1);
	--color1: 128, 0, 128; /* Purple */
	--color2: 75, 0, 130; /* Indigo */
	--color3: 138, 43, 226; /* BlueViolet */
	--color4: 72, 61, 139; /* DarkSlateBlue */
	--color5: 106, 90, 205; /* SlateBlue */
	--color-interactive: 147, 112, 219; /* MediumPurple */
	--circle-size: 80%;
	--blending: hard-light;
}

::selection {
	background-color: $color_background_2;
	color: $color_background_1;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: $transition;
}

.layout {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	width: min(90%, $max_width);
	margin: $spacing_4;
	padding: $spacing_4 $spacing_8;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: $color_background_1--blur;
	border-radius: $spacing_2;
	transition: $transition;
}

a {
	text-decoration: none;
	transition: color $transition;

	&:hover,
	&:active {
		color: $color_primary_2;
	}
}

@keyframes moveInCircle {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes moveVertical {
	0% {
		transform: translateY(-50%);
	}
	50% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(-50%);
	}
}

@keyframes moveHorizontal {
	0% {
		transform: translateX(-50%) translateY(-10%);
	}
	50% {
		transform: translateX(50%) translateY(10%);
	}
	100% {
		transform: translateX(-50%) translateY(-10%);
	}
}

.gradient-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
	top: 0;
	left: 0;

	svg {
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
	}

	.gradients-container {
		filter: url(#goo) blur(40px);
		width: 100%;
		height: 100%;
	}

	.g1 {
		position: absolute;
		background: radial-gradient(
				circle at center,
				rgba(var(--color1), 0.8) 0,
				rgba(var(--color1), 0) 50%
			)
			no-repeat;
		mix-blend-mode: var(--blending);

		width: var(--circle-size);
		height: var(--circle-size);
		top: calc(50% - var(--circle-size) / 2);
		left: calc(50% - var(--circle-size) / 2);

		transform-origin: center center;
		animation: moveVertical 30s ease infinite;

		opacity: 1;
	}

	.g2 {
		position: absolute;
		background: radial-gradient(
				circle at center,
				rgba(var(--color2), 0.8) 0,
				rgba(var(--color2), 0) 50%
			)
			no-repeat;
		mix-blend-mode: var(--blending);

		width: var(--circle-size);
		height: var(--circle-size);
		top: calc(50% - var(--circle-size) / 2);
		left: calc(50% - var(--circle-size) / 2);

		transform-origin: calc(50% - 400px);
		animation: moveInCircle 20s reverse infinite;

		opacity: 1;
	}

	.g3 {
		position: absolute;
		background: radial-gradient(
				circle at center,
				rgba(var(--color3), 0.8) 0,
				rgba(var(--color3), 0) 50%
			)
			no-repeat;
		mix-blend-mode: var(--blending);

		width: var(--circle-size);
		height: var(--circle-size);
		top: calc(50% - var(--circle-size) / 2 + 200px);
		left: calc(50% - var(--circle-size) / 2 - 500px);

		transform-origin: calc(50% + 400px);
		animation: moveInCircle 40s linear infinite;

		opacity: 1;
	}

	.g4 {
		position: absolute;
		background: radial-gradient(
				circle at center,
				rgba(var(--color4), 0.8) 0,
				rgba(var(--color4), 0) 50%
			)
			no-repeat;
		mix-blend-mode: var(--blending);

		width: var(--circle-size);
		height: var(--circle-size);
		top: calc(50% - var(--circle-size) / 2);
		left: calc(50% - var(--circle-size) / 2);

		transform-origin: calc(50% - 200px);
		animation: moveHorizontal 40s ease infinite;

		opacity: 0.7;
	}

	.g5 {
		position: absolute;
		background: radial-gradient(
				circle at center,
				rgba(var(--color5), 0.8) 0,
				rgba(var(--color5), 0) 50%
			)
			no-repeat;
		mix-blend-mode: var(--blending);

		width: calc(var(--circle-size) * 2);
		height: calc(var(--circle-size) * 2);
		top: calc(50% - var(--circle-size));
		left: calc(50% - var(--circle-size));

		transform-origin: calc(50% - 800px) calc(50% + 200px);
		animation: moveInCircle 20s ease infinite;

		opacity: 1;
	}

	.interactive {
		position: absolute;
		background: radial-gradient(
				circle at center,
				rgba(var(--color-interactive), 0.8) 0,
				rgba(var(--color-interactive), 0) 50%
			)
			no-repeat;
		mix-blend-mode: var(--blending);

		width: 100%;
		height: 100%;
		top: -50%;
		left: -50%;

		opacity: 0.7;
	}
}
