@use '../../styles/variables.scss' as variables;

:root {
	--list-width: 800px;
}

@keyframes running-pixelman {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(var(--list-width) / 2));
	}
}

.projects {
	overflow-y: auto;
	border-radius: variables.$spacing_2;
	padding: variables.$spacing_4;
	margin: -(variables.$spacing_4);
	margin-top: 0;

	h1 {
		margin-bottom: variables.$spacing_4;
	}

	&__running-pixelman {
		position: absolute;
		height: 50px;
		width: 50px;
		top: -49px;
		left: 50%;
		transform: translateX(-50%);
		animation: running-pixelman 1s linear infinite;
	}

	&__list {
		display: grid;
		position: relative;
		grid-template-columns: repeat(6, 1fr);
		max-width: 800px;
		gap: variables.$spacing_4;
	}

	&__item {
		position: relative;
		grid-column: span 3;
		border-radius: 20px;
		background-color: variables.$color_background_1--blur;
		padding: variables.$spacing_4;
		cursor: default;
		transform-style: preserve-3d;
		transition: transform 0.4s ease-out;

		&:hover {
			will-change: transform;
			transition: transform 0.1s ease-out;
		}

		&:is(#evkk) {
			grid-column: span 2;
		}

		&:is(#nextmuseum-sacred-pixels) {
			grid-column: span 4;
		}

		&:is(#hovercube-42) {
			grid-column: 1 / 5;
		}

		&:is(#css-flex-grid-game) {
			grid-column: 5 / 7;
		}
	}

	&__description {
		margin-top: variables.$spacing_1;
		font-size: variables.$font_size_-2;
		color: variables.$color_primary_1;
	}

	&__link-wrapper {
		display: inline-block;
		margin-top: variables.$spacing_2;
		font-size: variables.$font_size_-2;
		color: variables.$color_primary_1;
	}

	&__link {
		margin-top: variables.$spacing_2;
		font-size: variables.$font_size_-2;
		color: variables.$color_primary_1;
		transition: color 0.2s ease-out;

		&:hover {
			color: variables.$color_primary_2;
		}
	}
}
