@use '../../styles/variables.scss' as variables;

:root {
	--list-width: 800px;
}

.projects {
	overflow-y: auto;
	border-radius: variables.$spacing_2;
	padding: variables.$spacing_4;
	margin: -(variables.$spacing_4);
	margin-top: 0;

	h1 {
		margin-bottom: variables.$spacing_4;
	}

	&__list {
		display: grid;
		position: relative;
		grid-template-columns: repeat(6, 1fr);
		max-width: 800px;
		gap: variables.$spacing_4;
	}

	&__item {
		position: relative;
		grid-column: span 3;
		border-radius: 20px;
		background-color: variables.$color_background_1--blur;
		padding: variables.$spacing_4;
		cursor: default;
		transform-style: preserve-3d;
		transition: transform 0.4s ease-out;

		&:hover {
			will-change: transform;
			transition: transform 0.1s ease-out;
		}
		
		&:is(#bachelor-thesis) {
			grid-column: span 2;
		}

		&:is(#zed-claude-code) {
			grid-column: span 4;
		}
		
		&:is(#token-saver) {
			grid-column: span 4;
		}
		
		&:is(#kunstpalast) {
			grid-column: span 3;
		}

		&:is(#evkk) {
			grid-column: span 2;
		}

		&:is(#nextmuseum-sacred-pixels) {
			grid-column: span 3;
		}

		&:is(#hovercube-42) {
			grid-column: 1 / 5;
		}

		&:is(#css-flex-grid-game) {
			grid-column: 5 / 7;
		}
	}

	&__description {
		margin-top: variables.$spacing_1;
		font-size: variables.$font_size_-2;
		color: variables.$color_primary_1;
	}

	&__link-wrapper {
		display: inline-block;
		margin-top: variables.$spacing_2;
		font-size: variables.$font_size_-2;
		color: variables.$color_primary_1;
	}

	&__link {
		margin-top: variables.$spacing_2;
		font-size: variables.$font_size_-2;
		color: variables.$color_primary_1;
		transition: color 0.2s ease-out;
		word-break: break-all;

		&:hover {
			color: variables.$color_primary_2;
		}
	}
}

@media (width <= variables.$viewport_medium) {
	.projects {
		&__list {
			grid-template-columns: 1fr;
			max-width: none;
		}

		&__item,
		&__item:is(#bachelor-thesis),
		&__item:is(#zed-claude-code),
		&__item:is(#token-saver),
		&__item:is(#kunstpalast),
		&__item:is(#evkk),
		&__item:is(#nextmuseum-sacred-pixels),
		&__item:is(#hovercube-42),
		&__item:is(#css-flex-grid-game) {
			grid-column: auto;
		}
	}
}
