@use '../../../styles/variables' as variables;

.button {
	&--link-inline {
		display: flex !important;
		align-items: center !important;
		column-gap: variables.$spacing_1;

		background: none !important;
		box-shadow: none !important;
	}
}
