@import '../../styles/variables.scss';

.header {
	display: flex;
	justify-content: start;
	align-items: center;

	&__logo {
		place-self: center;
	}

	&__container {
		position: fixed;
		bottom: 3%;
		left: 50%;
		transform: translateX(-50%);

		width: 100%;

		display: grid;
		grid-template-areas: 'gap nav resume';
		grid-template-columns: 1fr auto 1fr;
		column-gap: $spacing_4;
		align-items: center;
	}

	&__nav {
		grid-area: nav;

		display: flex;
		align-items: center;

		padding: $spacing_2 $spacing_4;
		border-radius: 25px;

		background-color: $color_background_1--blur;
		box-shadow: 0 0 10px 0 $color_background_2--blur;
	}

	&__list {
		display: flex;
		align-items: center;
		column-gap: $spacing_4;
	}

	&__item {
		a {
			font-size: $font_size_-2;
			transition: $transition;

			&.active {
				font-size: $font_size_0;
			}
		}
	}

	&__resume {
		grid-area: resume;

		display: flex;
		justify-content: start;
		align-items: center;

		height: 100%;
	}

	&__resume-btn {
		display: grid;
		place-items: center;

		aspect-ratio: 1;
		width: auto;
		height: 100%;
		border-radius: 50%;

		background-color: $color_background_1--blur;
		box-shadow: 0 0 10px 0 $color_background_2--blur;
	}
}

@media (width <= $viewport_small) {
	.header {
		&__resume {
		}
	}
}
