@use '../../styles/variables.scss' as variables;
@use '../../styles/mixins.scss' as mixins;

.header {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: variables.$spacing_1;
	user-select: none;

	.color-shuffle-button {
		margin-left: auto;
	}

	&__logo {
		place-self: center;
		width: 34px;
		height: 34px;
		transform-origin: 50% 70%;
		margin-bottom: 10px;
		transition: transform variables.$transition-fast ease-in-out;

		&:hover {
			transform: rotate(20deg);
		}

		a:focus-visible {
			all: unset;
			outline: 2px dashed white;
			outline-offset: 2px;
			border-radius: 4px;
		}
	}

	&__active-page {
		font-size: variables.$font_size_-1;
		margin: 0 variables.$spacing_1;
	}

	&__nav-button {
		position: relative;
		z-index: mixins.z-index(foreground);

		.button {
			padding: variables.$spacing_1;
			border-radius: 5px;
			transition: background-color border-radius variables.$transition
				ease-in-out;

			.icon {
				transition: transform variables.$transition_fast ease-in-out;
				transform: rotate(0deg);
				pointer-events: none;
			}
		}

		&--open {
			.button {
				border-radius: 5px 5px 0 0;
				background-color: transparent;

				.icon {
					transform: rotate(180deg);
				}
			}
		}
	}

	&__container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: variables.$spacing_1;
	}

	&__nav {
		position: absolute;
		top: -(variables.$spacing_2);
		left: -(variables.$spacing_2);
		margin-left: variables.$spacing_1;
		margin-top: 2px;
		width: calc(100% + variables.$spacing_2);
		border-radius: 15px;
		background-color: variables.$color_background_1--blur;
		padding: 0 0 variables.$spacing_2 variables.$spacing_2;
	}

	&__list {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
	}

	&__item {
		a {
			font-size: variables.$font_size_-1;
			transition: variables.$transition;

			&.active {
				font-size: variables.$font_size_-1;
			}
		}
	}

}
